.team-heading {
  width: 100%;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 60px;
  color: #005dab;
  margin-bottom: 5px;
  
}

.team-heading span {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  padding: 5px 10px;
  border-bottom: solid 2px #005dab;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
}

.flip-card-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flip-card-container {
  margin: 20px;
  width: 200px;
  height: 250px;
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
}

.flip-card-img {
  width: 100%;
  height: 100%;
  border-radius: 6%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
}
.flip-card-back {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: white;
}

.flip-card-underline {
  background: white;
  height: 3px;
  border-style: groove;
  border: black 0.01px solid;
  margin: 0 40px;
}
.flip-card-back .flip-card-det {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  border-radius: 6%;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.8s;
}

.flip-card-back:hover .flip-card-det{
  opacity: 1;
  transform: translateY(0);
  backdrop-filter: blur(2px);
}

.flip-card-det h3 {
  padding-top: 20px;
  font-size: 1.5em;
  line-height: 2rem;
}

.flip-card-det p {
  font-weight: 700;
  padding-top: 5px;
  font-size: 1.1rem;
}
.flip-card-social {
  bottom: 0;
  margin-bottom: 100px;
}
.fa {
  position: absolute !important;
  bottom: 0 !important;
  padding: 10px 0;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 0px;
  border-radius: 100%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.fa-facebook {
  margin-right: 5px;
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  margin-left: 5px;
  background: #007bb5;
  color: white;
}
.fa:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .flip-card-container {
    width: 150px;
    height: 200px;
  }

  .flip-card-det h3 {
    padding-top: 15px;
    font-size: 1.3em;
    line-height: 1.5rem;
  }

  .flip-card-det p {
    font-weight: 700;
    padding-top: 3.5px;
    font-size: 0.9rem;
  }

  .fa{
    font-size: 20px;
    height: 35px;
    width: 35px;
    padding: 7px 0px;
  }

}
