.team-heading {
  width: 100%;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 60px;
  color: #005dab;
}

.team-heading span {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  padding: 5px 10px;
  border-bottom: solid 2px #005dab;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.flip-card-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.flip-card-container {
  margin: 50px;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-img {
  width: 100%;
  height: 100%;
  border-radius: 6%;
  position: absolute;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
}
.flip-card-back {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: white;
  transform: rotateY(180deg) translateZ(1px);
}

.flip-card-underline {
  background: white;
  height: 3px;
  border-style: groove;
  border: black 0.01px solid;
  margin: 0 40px;
}
.flip-card-det {
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  border-radius: 6%;
}

.flip-card-det h3 {
  padding-top: 20px;
  font-size: 1.5em;
  line-height: 2rem;
}

.flip-card-det p {
  font-weight: 500;
  padding-top: 5px;
  font-size: 1.1rem;
}
.flip-card-social {
  bottom: 0;
  margin-bottom: 100px;
}
.fa {
  position: absolute !important;
  bottom: 0 !important;
  padding: 10px 0;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 0px;
  border-radius: 100%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.fa-facebook {
  margin-right: 5px;
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  margin-left: 5px;
  background: #007bb5;
  color: white;
}
.fa:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .flip-card-body {
    grid-template-columns: auto;
  }

  .flip-card-container {
    width: 200px;
    height: 240px;
  }
}
