.menu-btn {
    padding-top: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    margin: auto;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

#hamburger{
    display: block;
    float: right;
}
.mobile-container{
    width: 100%;
    clear: both;
    margin: auto;
    display: none;
    height: 350px;
}



#navbar ul li {
    width: 100%;
}

#toggle:checked + .mobile-container {
    display: block;
}

/* Home Page */

#welcomeArea{
    height: 300px;
}

#welcomeText{
    font-size: 2.5em;
}

.about-box{
    width: 98%;
}

.centered{
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}
.head-style{
    clear: both;
    width: 100%;
    padding-top: 0;
    margin-bottom: 10px;
}

#footer-bottom{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#copyright{
    display: block;
    width: 100%;
    border-bottom: solid 1px #005DAB;
    padding: 15px;
}

#social-media-icons{
padding: 10px;
}


.about-content{
    width: 100%;
}

/* advisor page */ 

#advisor1Text{
    clear: both;
}

#advisor2Text{
    clear: both;
}  

.advisorPhotoBox{
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
}

.advisorPhotoBox img{
    float: left;
    width: 110px;
}

.advisorText{
    width: 100%;
}