*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Styled By Anidhya Gupta */

.fixedArea{
    width: 100%;
    height: 81.2px;
}
header{
    background: #005DAB;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.clear{
    clear: both;
}

#head-logo{
    width: 100px;
    float: left;
}

#hamburger, #toggle{
    display: none;
}

#navbar{
    float: right;
}

#navbar ul{
    margin-top: 12px;
    
}

#navbar ul li{
    list-style: none;
    float: left;
    margin-right: 10px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    top: 0.5px;
    padding: 12px 20px;
    border-radius: 0.4em;
    text-align: center;
    font-weight: bold;
    transition: .3s all ease;
}

#navbar ul li a:before {
    content: "";
    margin-top: 3px;
    position: absolute;
    width: 50%;
    height: 2px;
    top: 68%;
    left: 25%;
    background-color: #005DAB;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }


#navbar ul li a:hover {
    background:  white;
    color: #005DAB;
    transition: all 0.3s ease-in-out;
}

#navbar ul li a:hover:before {
    background-color: #005DAB;
    visibility: visible;
    transform: scaleX(1);
  }

#navbar ul li .current{
    background: white;
    color: #005DAB;
}

#navbar ul li a .icon{
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}


/* footer styling by Anidhya Gupta */

#footer{
    width: 100%;
    position: relative;
    bottom: 0;
}

#footer-top{
    width: 100%;
    background: #005DAB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    
}
.centered{
    width: 300px;
}

#bottomLogos{
    color: #fff;
    float: left;
    text-align: center;
}

#asceLogo{
    width: 130px;  
    margin: 30px 0px 0px 0px ;
}

#ismLogo{
    width: 95px;
    margin-top: 18px;    
}

#location{
    display: inline;
    width: 300px;
    text-align: center;
    color: white;
    float: left;
}

#otherLinks{
    padding-top: 30px;
    color: white;
}

#otherLinks ul li{
    list-style: none;
    line-height: 2.5em;
}

#otherLinks ul li a{
    text-decoration: none;
    color: #aaa;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

#otherLinks ul li a:hover{
    text-decoration: underline;
}

#footer-bottom{
    width: 100%;
    background: #015397;
    display: flex;
    justify-content: space-around;
    color: white;
    min-height: 90px;
    overflow: auto;
}

#copyright{
    padding: 30px;
    line-height: 2em;
    width: 40%;
}

#social-media{
    min-width: 25%;
    padding: 20px;
    text-align: center;
}

#social-media p{
    width: 100%;
}

#social-media-icons{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#social-media a{
    color: white;
}

#social-media i{
    font-size: 24px;
}

/* Home Page by Anidhya Gupta */

#welcomeArea{
    background: url("../image/background1.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}


#welcomeTextArea{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

#welcomeText{
    width: 80%;
    margin: auto;
    font-size: 3em;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 10% ;
    height: 100%;
}

.about-box{
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: auto;
    margin-bottom: 60px;
    width: 80%;
    border: solid 1.5px #005DAB;
    border-radius: 1em;
    padding: 30px 5px;
    min-height: 230px;
    height: auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head-style{
    font-family: 'Roboto Condensed', sans-serif;
    width: 35%;
    font-size: 1.5em;
    color: #005DAB;
    height: 100%;
    text-align: center;
    padding-top: 2.5em;
}
.about-content{
    width: 65%;
    text-align: center;
    padding-top: 1.5em;
    padding: 0 10px;
}


#instituion-head-alignment{
    float: left;
}

#institution-content{
    float: right;
}

#asce-head-alignment{
    float: right;
}

#asce-content{
    float: left;
}

/* Advisor pagw styling */
.advisorBox{
    width: 80%;
    border: solid 1.5px #005DAB;
    border-radius: 1em;
    min-height: 100px;
    height: auto;
    overflow: auto;
    margin: auto;
    margin-top: 60px;
    padding: 1em 5px;
}

#advisor2{
    margin-bottom: 60px;
}

.advisorPhotoBox{
    width: 35%;
    height: 100%;
}

.advisorPhotoBox img{
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.6);
}

.advisorText{
    width: 65%;
    text-align: justify;
    padding-top: 1.5em;
    padding: 0 10px;
}

#advisor1Text{
    float: right;
}

#advisor1Photo{
    float: left;
}

#advisor2Photo{
    float: right;
}

#advisor2Text{
    float: left;
}


/* contact */